@import "../../assets/Global";
@import "../../assets/Mixins";

//! ==============================================================
//! ABOUT SCSS
//! ==============================================================
#about-page {
  @include pageInitials();
  #about-me {
    @include sectionInitials(left, 1);
    .inner-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      .content-block {
        .head {
          color: $themeColor;
          font-size: 3rem;
          font-family: $themeFont3;
          margin-bottom: 20px;
          font-weight: bold;
          span {
            color: $white;
          }
        }
        .content {
          color: $white;
          font-family: $themeFont6;
          margin-bottom: 10px;
        }
        .redirect {
          display: flex;
          gap: 20px;
          a {
            cursor: crosshair;
          }
        }
      }
      .image {
        box-shadow: #ffffff36 0px 0px 3px;
      }
    }
  }
  #more-about-me {
    @include sectionInitials(center, 0);
    .content {
      color: $white;
      text-align: center;
      font-family: $themeFont3;
      margin-bottom: 20px;
    }
    .btn-block {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
  #my-resume {
    @include sectionInitials(right, 1);
    .resume-tabs {
      .tab-btn {
        box-shadow: 10px 10px 19px #1c1e22a8, -10px -10px 19px #262a2e85;
        background: black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 30px;
        button {
          padding: 15px 20px;
          color: $white;
          border-radius: 5px;
          font-family: $themeFont3;
          font-size: 1.5rem;
          border: 2px solid transparent;
          &:hover {
            color: $themeColor;
          }
          &.active {
            background: $backgroundBg;
            border-color: $themeColor;
          }
        }
      }
      .tab-content {
        .skill-grid {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          gap: 30px;
        }
      }
    }
  }
}
