@import "../../assets/Global";
@import "../../assets/Mixins";

//! ==============================================================
//! EXPERTISE SCSS
//! ==============================================================
#expertise-page {
  @include pageInitials();
  #expertise-area {
    @include sectionInitials(center, 0);
    .top-content {
      color: $white;
      display: grid;
      grid-template-columns: 1.5fr 1.5fr 1fr;
      gap: 50px;
      margin-bottom: 40px;
      @media screen and (max-width:1200px) {
        grid-template-columns: 1fr 1fr 0fr;
      }
      @media screen and (max-width:991px) {
        grid-template-columns: 1fr;
        margin-bottom: 70px;
      }
      @media screen and (max-width:768px) {
        gap: 30px;
      }
      .head {
        font-family: $themeFont3;
        font-size: 1.5rem;
        @media screen and (max-width:768px) {
          font-size: 1.2rem;
        }
      }
      .text {
        font-family: $themeFont2;
        font-size: 1.2rem;
        margin-top: 60px;
        border-left: 4px solid $themeColor;
        padding-left: 20px;
        @media screen and (max-width:991px) {
          margin-top: 0px;
          margin-left: 70px;
        }
        @media screen and (max-width:768px) {
          font-size: 1rem;
        }
        @media screen and (max-width:576px) {
          margin-left: 40px;
        }
        @media screen and (max-width:400px) {
          margin-left: 20px;
          padding-left: 10px;
        }
      }
    }
  }
}
