@import url("https://fonts.googleapis.com/css2?family=Arsenal&family=Caveat&family=Mate+SC&family=Metal+Mania&family=Nosifer&display=swap");
#expertise-page {
  background: #101010;
  padding-top: 120px;
}
@media screen and (max-width: 768px) {
  #expertise-page {
    padding-top: 100px;
  }
}
#expertise-page #expertise-area {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2705882353);
}
#expertise-page #expertise-area .inner-container {
  border-center: 0px solid rgba(255, 255, 255, 0.2705882353);
  padding: 50px 0;
}
@media screen and (max-width: 768px) {
  #expertise-page #expertise-area .inner-container {
    padding: 40px 0;
    border: 0;
  }
}
#expertise-page #expertise-area .inner-container .section-head {
  margin-bottom: 50px;
}
@media screen and (max-width: 991px) {
  #expertise-page #expertise-area .inner-container .section-head {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  #expertise-page #expertise-area .inner-container .section-head {
    margin-bottom: 30px;
  }
}
#expertise-page #expertise-area .inner-container .section-head .main-head {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  font-family: "Nosifer", sans-serif;
  letter-spacing: 2px;
}
#expertise-page #expertise-area .inner-container .section-head .main-head span {
  color: #ff0000;
}
@media screen and (max-width: 991px) {
  #expertise-page #expertise-area .inner-container .section-head .main-head {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  #expertise-page #expertise-area .inner-container .section-head .main-head {
    font-size: 1.6rem;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  #expertise-page #expertise-area .inner-container .section-head .main-head {
    font-size: 1.3rem;
  }
}
#expertise-page #expertise-area .top-content {
  color: #ffffff;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  gap: 50px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  #expertise-page #expertise-area .top-content {
    grid-template-columns: 1fr 1fr 0fr;
  }
}
@media screen and (max-width: 991px) {
  #expertise-page #expertise-area .top-content {
    grid-template-columns: 1fr;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 768px) {
  #expertise-page #expertise-area .top-content {
    gap: 30px;
  }
}
#expertise-page #expertise-area .top-content .head {
  font-family: "Mate SC", serif;
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  #expertise-page #expertise-area .top-content .head {
    font-size: 1.2rem;
  }
}
#expertise-page #expertise-area .top-content .text {
  font-family: "Caveat", cursive;
  font-size: 1.2rem;
  margin-top: 60px;
  border-left: 4px solid #ff0000;
  padding-left: 20px;
}
@media screen and (max-width: 991px) {
  #expertise-page #expertise-area .top-content .text {
    margin-top: 0px;
    margin-left: 70px;
  }
}
@media screen and (max-width: 768px) {
  #expertise-page #expertise-area .top-content .text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 576px) {
  #expertise-page #expertise-area .top-content .text {
    margin-left: 40px;
  }
}
@media screen and (max-width: 400px) {
  #expertise-page #expertise-area .top-content .text {
    margin-left: 20px;
    padding-left: 10px;
  }
}/*# sourceMappingURL=Expertise.css.map */