@import "../../assets/Global";
@import "../../assets/Mixins";

//! ==============================================================
//! BREADCRUMB SCSS
//! ==============================================================
#custom-bread {
    border-bottom: 1px solid $grey;
    .section-content {
        position: relative;
        .bg-text {
            font-size: 20rem;
            color: unquote($white + "20");
            text-align: center;
            font-family: $themeFont6;
        }
        .overlay-text {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
            right: 0;
            width: 100%;
            .top {
                color: $themeColor;
                font-family: $themeFont2;
                font-size: 1.4rem;
                line-height: 1;
                letter-spacing: 1px;
            
            }
            .middle {
                text-transform: uppercase;
                text-shadow: 10px 18px 35px unquote($white + "40");
                text-align: center;
                color: $white;
                font-size: 14rem;
                font-family: $themeFont6;
                font-weight: bold;
                line-height: 1;
            }
            .bottom {
                @extend .top;
                text-align: right;
                font-family: $themeFont3;
            }
        }
    }
}