@import url("https://fonts.googleapis.com/css2?family=Arsenal&family=Caveat&family=Mate+SC&family=Metal+Mania&family=Nosifer&display=swap");
#head-container, #head-container .section-content {
  width: 100%;
  min-height: 100vh;
  background-blend-mode: color-dodge;
  background-size: cover; }
  @media screen and (max-width: 991px) {
    #head-container, #head-container .section-content {
      background-position: center;
      background-attachment: fixed; } }
  #head-container .section-content {
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 768px) {
      #head-container .section-content {
        display: block; }
        #head-container .section-content .container {
          max-width: initial !important;
          padding: 0 20px; } }
    #head-container .section-content .top-container {
      flex: 1 1 auto;
      display: grid;
      align-items: center;
      padding-top: 100px; }
      @media screen and (max-width: 991px) {
        #head-container .section-content .top-container {
          padding-top: 150px;
          height: 100vh; } }
      @media screen and (max-width: 768px) {
        #head-container .section-content .top-container {
          padding-top: 90px; } }
      #head-container .section-content .top-container .top-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px; }
        #head-container .section-content .top-container .top-content .text {
          font-size: 3rem;
          font-weight: bold;
          color: #ffffff;
          font-family: "Merriweather Sans", sans-serif; }
          #head-container .section-content .top-container .top-content .text span {
            color: #ff0000;
            font-weight: initial; }
          @media screen and (max-width: 1200px) {
            #head-container .section-content .top-container .top-content .text {
              font-size: 2.5rem; } }
          @media screen and (max-width: 991px) {
            #head-container .section-content .top-container .top-content .text {
              font-size: 2rem; } }
          @media screen and (max-width: 768px) {
            #head-container .section-content .top-container .top-content .text {
              padding-right: 30px;
              font-size: 1.7rem; } }
          @media screen and (max-width: 576px) {
            #head-container .section-content .top-container .top-content .text {
              padding-right: 0px;
              font-size: 1.6rem;
              font-weight: 400; } }
        #head-container .section-content .top-container .top-content .btn-bar {
          display: flex;
          gap: 20px;
          align-items: center; }
          #head-container .section-content .top-container .top-content .btn-bar .action-btn {
            border: 2px solid #ff0000;
            color: #ff0000;
            padding: 10px 20px;
            border-radius: 30px;
            font-family: "Mate SC", serif;
            letter-spacing: 1px;
            transition: all 0.3s linear; }
            @media screen and (max-width: 768px) {
              #head-container .section-content .top-container .top-content .btn-bar .action-btn {
                font-size: 0.9rem; } }
            @media screen and (max-width: 576px) {
              #head-container .section-content .top-container .top-content .btn-bar .action-btn {
                font-size: 0.8rem;
                padding: 7px 12px; } }
            #head-container .section-content .top-container .top-content .btn-bar .action-btn:hover {
              background: #ff0000;
              color: #101010;
              font-weight: bold;
              transition: all 0.3s linear; }
            #head-container .section-content .top-container .top-content .btn-bar .action-btn:nth-child(2) {
              background: #ff0000;
              color: #101010;
              font-weight: bold; }
              #head-container .section-content .top-container .top-content .btn-bar .action-btn:nth-child(2):hover {
                background: transparent;
                color: #ff0000;
                font-weight: initial;
                transition: all 0.3s linear; }
    #head-container .section-content .bottom-container {
      padding: 30px 0;
      min-height: 170px; }
      #head-container .section-content .bottom-container .bottom-content {
        display: grid;
        grid-template-columns: 1fr 2fr 0.5fr;
        align-items: baseline; }
        @media screen and (max-width: 991px) {
          #head-container .section-content .bottom-container .bottom-content {
            grid-template-columns: 1fr;
            gap: 30px; } }
        #head-container .section-content .bottom-container .bottom-content .contact {
          color: #ffffff; }
          @media screen and (max-width: 991px) {
            #head-container .section-content .bottom-container .bottom-content .contact {
              order: 2; } }
          #head-container .section-content .bottom-container .bottom-content .contact .block {
            margin-bottom: 10px; }
            #head-container .section-content .bottom-container .bottom-content .contact .block:nth-last-child(1) {
              margin-bottom: 0; }
        #head-container .section-content .bottom-container .bottom-content .about {
          color: #ffffff;
          font-size: 1rem;
          font-family: "Mate SC", serif;
          letter-spacing: 2px; }
          #head-container .section-content .bottom-container .bottom-content .about span {
            color: #ff0000;
            font-weight: initial; }
          @media screen and (max-width: 991px) {
            #head-container .section-content .bottom-container .bottom-content .about {
              order: 1;
              padding-right: 30px; } }
          @media screen and (max-width: 576px) {
            #head-container .section-content .bottom-container .bottom-content .about {
              padding-right: 0px;
              font-size: 0.9rem; } }
          #head-container .section-content .bottom-container .bottom-content .about:first-letter {
            font-size: 1.6rem;
            color: #ff0000;
            font-weight: bold; }
            @media screen and (max-width: 576px) {
              #head-container .section-content .bottom-container .bottom-content .about:first-letter {
                font-size: 1.5rem; } }

/*# sourceMappingURL=Home.css.map */
