@import "../../assets/Global";
@import "../../assets/Mixins";

//! ==============================================================
//! HOME CONTAINER SCSS
//! ==============================================================
#head-container {
  width: 100%;
  min-height: 100vh;
  background-blend-mode: color-dodge;
  background: $backgroundBg;
  @media screen and (max-width: 991px) {
    background-position: center;
    background-attachment: fixed;
  }
  .section-content {
    display: flex;
    flex-direction: column;
    @extend #head-container;
    @media screen and (max-width: 768px) {
      display: block;
      .container {
        max-width: initial !important;
        padding: 0 20px;
      }
    }
    .top-container {
      flex: 1 1 auto;
      display: grid;
      align-items: center;
      padding-top: 100px;
      @media screen and (max-width: 991px) {
        padding-top: 150px;
        height: 100vh;
      }
      @media screen and (max-width: 768px) {
        padding-top: 90px;
      }
      .top-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        .text {
          font-size: 5rem;
          font-weight: bold;
          color: $white;
          font-family: $themeFont6;
          span {
            color: $themeColor;
          }
          @media screen and (max-width: 1200px) {
            font-size: 4rem;
          }
          @media screen and (max-width: 991px) {
            font-size: 3rem;
          }
          @media screen and (max-width: 768px) {
            padding-right: 30px;
            font-size: 2rem;
          }
          @media screen and (max-width: 576px) {
            padding-right: 0px;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
        .btn-bar {
          display: flex;
          gap: 20px;
          align-items: center;
          .action-btn {
            border: 2px solid $themeColor;
            color: $themeColor;
            padding: 10px 20px;
            border-radius: 30px;
            font-family: $themeFont3;
            letter-spacing: 1px;
            transition: all 0.3s linear;
            @media screen and (max-width: 768px) {
              font-size: 0.9rem;
            }
            @media screen and (max-width: 576px) {
              font-size: 0.8rem;
              padding: 7px 12px;
            }
            &:hover {
              background: $themeColor;
              color: $backgroundBg;
              font-weight: bold;
              transition: all 0.3s linear;
            }
            &:nth-child(2) {
              background: $themeColor;
              color: $backgroundBg;
              font-weight: bold;
              &:hover {
                background: transparent;
                color: $themeColor;
                font-weight: initial;
                transition: all 0.3s linear;
              }
            }
          }
        }
      }
    }
  }
}
