@import "../../assets/Default";
@import "../../assets/Mixins";
@import "../../assets/Global";

//! ==============================================================
//! HEADER SCSS
//! ==============================================================

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    &.bgHeader {
        border-bottom: 1px solid $grey;
        background: $backgroundBg;
    }
    .inner-grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        @include logo();
        .link-block {
            display: flex;
            gap: 20px;
            a {
                font-size: 1.2rem;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translate(-50%, 5px);
                    background: $white;
                    height: 3px;
                    border-radius: 5px;
                    width: 0%;
                }
                &.active::after {
                    width: 50%;
                }
            }
        }
    }
}