@import "../../assets/Default";
@import "../../assets/Mixins";
@import "../../assets/Global";

//! ==============================================================
//! HEADER SCSS
//! ==============================================================

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    &.bgHeader {
        border-bottom: 1px solid $grey;
        background: $backgroundBg;
    }
    .inner-grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        @include logo();
        @media screen and (max-width: 576px) {
            padding: 20px 5px;
        }
        .link-block {
            display: flex;
            gap: 20px;
            @media screen and (max-width: 768px) {
                position: absolute;
                width: 100vw;
                height: 100vh;
                background: $backgroundBg;
                top: 0;
                left: 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .close-btn {
                display: none;
                @media screen and (max-width: 768px) {
                    display: block;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }
            }
            a {
                font-size: 1.2rem;
                position: relative;
                @media screen and (max-width: 768px) {
                    font-size: 1.7rem;
                    font-family: $themeFont4;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translate(-50%, 5px);
                    background: $white;
                    height: 3px;
                    border-radius: 5px;
                    width: 0%;
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }
                &.active {
                    &::after {
                        width: 50%;
                    }
                    @media screen and (max-width: 768px) {
                        color: $themeColor;
                    }
                }
            }
        }
        .mobile-menu-btn {
            display: none;
            @media screen and (max-width: 768px) {
                display: block;
            }
        }
    }
}
