@import "../../assets/Global";
@import "../../assets/Mixins";

//! ==============================================================
//! PROJECTS SCSS
//! ==============================================================
#projects-page {
  @include pageInitials();
  #projects-area {
    @include sectionInitials(center, 0);
    .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px 30px;
        @media screen and (max-width:991px) {
            grid-template-columns: 1fr;
        }
        @media screen and (max-width:768px) {
            gap: 40px;
        }
        @media screen and (max-width:576px) {
            gap: 30px;
        }
    }
  }
}
