@import "../../assets/Global";
@import "../../assets/Mixins";

//! ==============================================================
//! FOOTER SCSS
//! ==============================================================
footer {
  @include sectionInitials(center, 0);
  .inner-container {
    padding-bottom: 10px;
    .section-head {
        margin-bottom: 10px;
      }
  }
  background: $backgroundBg;
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    a {
        padding: 2px 15px;
        color: $themeColor;
        border-right: 1px solid $white;
        font-family: $themeFont3;
        text-transform: uppercase;
        font-size: 0.9rem;
        letter-spacing: 1px;
        font-weight: bold;
        &:nth-last-child(1) {
            border-right: 0px;
        }
        &:hover {
            color: $white;
        }
    }
  }
  .copyright {
    text-align: center;
    color: white;
    font-size: 0.8rem;
    padding-top: 10px;
    border-top: 1px solid $grey;
  }
}
