@import "../../assets/Global";
@import "../../assets/Mixins";

//! ==============================================================
//! EXPLORE SCSS
//! ==============================================================
#explore-page {
  @include pageInitials();

  #main-section {
    padding-bottom: 20px;
    border-bottom: 1px solid $grey;
    .section-content {
      padding: 0 0 30px;
      overflow-y: hidden;
    }
    .top-text {
      color: $white;
      font-weight: bold;
      font-size: 7rem;
      text-transform: uppercase;
      display: flex;
      align-items: flex-end;
      gap: 20px;
      margin-bottom: 40px;
      .image {
        width: 250px;
      }
    }
    .mid-text {
      display: grid;
      grid-template-columns: 1.5fr 1fr 1.5fr;
      gap: 30px;
      height: 180px;
      .title {
        color: $white;
        letter-spacing: 10px;
        font-size: 7rem;
        text-transform: uppercase;
      }
      .content {
        font-family: $themeFont2;
        color: $white;
        font-size: 1.2rem;
        letter-spacing: 1px;
      }
    }
    .bottom-text {
      color: $white;
      font-weight: bold;
      font-size: 7rem;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      .curve-text {
        position: absolute;
        left: 0;
        width: 120px;
        top: 50%;
        transform: translate(0, -50%);
        text-align: initial;
        cursor: crosshair;
        display: block;
      }
    }
  }

  #my-works {
    @include sectionInitials(left, 1);
    .work-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      margin-bottom: 30px;
    }
    .btn-area {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  #futuristic {
    @include sectionInitials(right, 0);
    position: relative;
    max-height: $maxDisplayHeight;
    .video-bg {
      margin-bottom: -5px;
    }
    .content-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      .content-box {
        max-width: 800px;
        margin: 0 auto;
        .head {
          font-size: 3rem;
          color: $white;
          font-family: $themeFont5;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-bottom: 10px;
          span {
            color: $themeColor;
          }
        }
        .details {
          color: white;
          font-family: $themeFont2;
          letter-spacing: 2px;
          font-size: 1.2rem;
        }
      }
    }
  }

  #technologies {
    @include sectionInitials(center, 0);
    .tech-grid {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      gap: 20px;
    }
  }

  #why-choose {
    @include sectionInitials(center, 0);
  }
}
