@import url("https://fonts.googleapis.com/css2?family=Arsenal&family=Caveat&family=Mate+SC&display=swap");

$themeFont: "Arsenal", sans-serif;
$themeFont2: "Caveat", cursive;
$themeFont3: "Mate SC", serif;
$themeColor: red;
$backgroundBg: #101010;
$white: #ffffff;