@import "../../assets/Global";

//! ==============================================================
//! LOADER SCSS
//! ==============================================================
#custom-loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  .loader-bg {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 100vh;
    div {
      width: 100%;
      height: 100vh;
      background: $backgroundBg;
      border-right: 1px solid unquote($white + "2e");
      animation: 2s ease-in forwards bgStrip;
    }
  }
}

@keyframes bgStrip {
  0% {
    width: 100%;
    height: 100vh;
  }
  70% {
    width: 1px;
    height: 100vh;
  }
  100% {
    width: 1px;
    height: 0;
  }
}
