@import "../../assets/Global";

//! ==============================================================
//! LOADER SCSS
//! ==============================================================
#custom-loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: $backgroundBg;
  display: grid;
  place-items: center;
  opacity: 1;
  transition: all 0.3s linear;
  &.remove {
    opacity: 0;
    transform: translate(0, -100%);
  }
  .loader-item {
    border: 10px solid $white;
    width: max-content;
    color: $white;
    font-size: 4rem;
    font-family: $themeFont6;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 576px) {
      font-size: 2rem;
      border-width: 7px;
    }
    div {
      padding: 0 40px;
      @media screen and (max-width: 576px) {
        padding: 0 30px;
      }
      &:nth-child(2) {
        background: $white;
        color: $backgroundBg;
      }
    }
  }
}
